body 
{
    background-image: url("images/assets/cropped-neu.jpg");
    background-color: #3c3f42;
}

.container
{
    background-image: url("images/assets/cropped-neu.jpg");
    background-color: #3c3f42;
}