body {
    background-color: ghostwhite;
}
.container-user-profile{
    padding: inherit; 
    padding-left: 1px;
    padding-top: 30px;
}
.wrapper {
    text-align: center;
    padding-bottom: 15px;
}
.profile-details {
    margin-right: 1px;
    margin-top: 10px;
    margin-left:40px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background-color: whitesmoke;
}
/* for media */
.profile-user-image {
margin-top:10px;
margin-left:auto;
width:25%;
}
.post-user-image {
margin-top:10px;
margin-left:auto;
width:12%;
}
.comment-user-image {
margin-top: auto;
margin-left:auto;
width:8%;
}
.media-body {
padding-right:20px;
}
/* end of for media */
/* for uploading post */
#upload-post-select{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*  end of for uploading post*/
/* for post */
.carousel {
    margin-top:3px;
    width: 96%;
    margin-bottom: 5px;
}
.post {
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background-color: whitesmoke;
}
.post-description{
    margin-top: 10px;
    width: 96%;
}
#post-carousel {
    width: 96%;
    margin-bottom: 5px;
}
img {
    width: 100%;
}
.line {
    padding-top: 10px;
    width: 96%;
    border-width: 1px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: lightgray;
}
#line{
    padding-top: 10px;
    width: 96%;
    border-width: 1px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: lightgray;
}
#line-1{
    margin-top: auto;
    padding-top: auto;
    width: 96%;
    border-width: 1px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: lightgray;
}
#line-bold{ /*fix this at some point*/
    padding-top: 10px;
    margin: auto;
    border-width: 1px;
    border-bottom: solid;
    border-bottom-width: thick;
    border-color: black;
}
.textarea-div{
    width: 95%;
    display:inline-block;
    position:relative;
    padding-bottom: 15px;
}
textarea{
    resize: none;
    box-sizing:border-box; 
    width: 90%;
    display:block;
}
#textarea-button{
    position:absolute;
  bottom:23px;
  right:10px;
}
.post-title{
    margin-top: 20px;
}
.post-username {
    margin-top: 15px;
    margin-bottom: auto;
}
.post-place {
    margin-bottom: auto;
}
.post-description{
    width: 95%;
    margin-bottom: auto;
}
/* post buttons */
.post-dislike-button {
    margin-left: 7px;
    
}
.post-like-button {
   
}
.button-comment {
    float: right;
    margin-right: 34px;
}
/* end of for post */
.modal-footer {
    height: 65px;
}
.modal-header {
    height: auto;
}
.glyphicon glyphicon-triangle-bottom{
    padding-top: 10px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .post {
    padding-left: 20px;
    }
    #myCarousel {
    width: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    #myCarousel {
    width: 94%;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    padding-left: 26px;
    }
    #myCarousel {
    width: 96%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
